<div class="provider">
{{#if active_user}}
    <div class="user-details">
        {{#if active_user.pic}}
            <img class="user-pic" src="{{active_user.pic}}" alt="&nbsp;"/>
        {{/if}}
        {{#unless active_user.pic}}
            <img class="user-pic" src="{{provider.logo}}" alt="&nbsp;"/>
        {{/unless}}
        <span><a href="{{active_user.profileLink}}" target="_blank">{{active_user.fullname}}</a></span><br/>
        <span class="email">{{active_user.email}}</span>
        <br/>
        <a class="signout-link">Sign Out</a>
    </div>
{{/if}}
{{#unless active_user}}
    <div>
        <img class="signin-pic" src="{{provider.logo}}" alt="{{provider.label}}"/>
        <a href="svc/auth/signin/{{provider.id}}">Sign In</a>
    </div>
{{/unless}}
</div>
