<div class="well">
    <p class="lead">
        Before publishing any work using this data, <br/>
        please consult the <a href="http://cancergenome.nih.gov/publications/publicationguidelines" target="_blank">TCGA Publication Guidelines</a>
    </p>
    <div>This guide reviews the controls used on this application.  It is available from the <b>Visualizations</b> menu.</div>
</div>

<div class="accordion" id="accordion_{{id}}">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{id}}" href="#collapse_menus_{{id}}">
                Menus
            </a>
        </div>
        <div id="collapse_menus_{{id}}" class="accordion-body collapse in">
            <div class="accordion-inner">
                <h5>Visualizations Menu</h5>
                <div class="row">
                    <div class="span3">
                        <ul class="list-controls-qt nav nav-list">
                            <li>
                                <a href="#" onclick="return false;" data-toggle="collapse" data-target="#maps-collapser">Visualizations <i class="pull-right icon-chevron-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="span6 well">
                        <ul class="nav nav-list">
                            <li>Explore the TCGA data using one of our visualizations</li>
                            <li class="divider"/>
                            <li>Multiple instances of a visualization may be opened</li>
                            <li class="divider"/>
                            <li>Additional visualizations will be added regularly</li>
                        </ul>
                    </div>
                </div>
                <h5>Gene Lists Menu</h5>
                <div class="row">
                    <div class="span3">
                        <ul class="list-controls-qt nav nav-list">
                            <li>
                                <a href="#" onclick="return false;" data-toggle="collapse" data-target="#genelist-collapser">Gene Lists <i class="pull-right icon-chevron-right"></i></a>
                            </li>
                            <li class="divider"/>
                            <li class="gene-item">
                                <div class="btn-group">
                                  <button class="btn btn-small btn-success">Gene Symbol</button>
                                  <button class="btn btn-mini btn-warning item-remover">&times;</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="span6 well">
                        <ul class="nav nav-list">
                            <li>Helps user manage lists containing genes of interest</li>
                            <li class="divider"/>
                            <li>Users may enter many Genes to automatically include in their visualization analysis</li>
                            <li class="divider"/>
                            <li>Genes are easy to re-order in the list by <i>dragging</i></li>
                            <li class="divider"/>
                            <li>Genes are easy to remove from the list by clicking the <button class="btn btn-mini btn-warning item-remover">&times;</button> button</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{id}}" href="#collapse_map_{{id}}">
                Visualization Window Controls
            </a>
        </div>
        <div id="collapse_map_{{id}}" class="accordion-body collapse">
            <div class="accordion-inner">
                <div class="row">
                    <div class="span1">
                        <ul class="nav nav-list">
                            <li><a href="#" onclick="return false;" class="info-me"> <i class="icon-info-sign" /></i> </a></li>
                        </ul>
                    </div>
                    <div class="span4">General information about the visualization</div>
                </div>
                <div class="row">
                    <div class="span1">
                        <ul class="nav nav-list">
                            <li><a href="#" onclick="return false;" class="refresh-me" rel="tooltip" title="Refresh Data"> <i class="icon-refresh"/></i> </a></li>
                        </ul>
                    </div>
                    <div class="span4">Refresh Visualization Data</div>
                </div>
                <div class="row">
                    <div class="span1">
                        <ul class="nav nav-list">
                            <li><button type="button" class="close">&times;</button></li>
                        </ul>
                    </div>
                    <div class="span4">Close Visualization Window</div>
                </div>
            </div>
        </div>
    </div>

</div>