<h4>Visualizations</h4>
{{#each maps}}
    {{#unless disabled}}
        <div class="alert {{#if isPrimary}}alert-success{{/if}}{{#unless isPrimary}}alert-info{{/unless}}">
            <h5>{{label}}</h5>
            <p>{{{description}}}</p>
            <p><button type="button" data-id="{{id}}" class="btn btn-info btn-small open-map">{{#if buttonLabel}}{{buttonLabel}}{{/if}}{{#unless buttonLabel}}open{{/unless}}</button></p>
        </div>
    {{/unless}}
    {{#if disabled}}
        <div class="alert alert-danger">
            <h5>{{label}}</h5>
            <p>{{{description}}}</p>
            <p>This map is not currently available</p>
            <p><button type="button" class="btn btn-small btn-danger disabled" title="not available">{{#if buttonLabel}}{{buttonLabel}}{{/if}}{{#unless buttonLabel}}disabled{{/unless}}</button></p>
        </div>
    {{/if}}
{{/each}}