<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <td>Tumor</td>
        <td>MutSig rank</td>
        <td>samples (#/%)</td>
        <td>track</td>
    </tr>
    </thead>
    <tbody>
    {{#each items}}
        <tr>
            <td>{{tumor_type}}</td>
            <td>{{mutsig_rank}}</td>
            <td>{{statistics.samples.numberOf}} / {{statistics.samples.totals.percentOf}}</td>
            <td id="seqpeek-row-{{../tumor_type}}"></td>
        </tr>
    {{/each}}
    </tbody>
</table>