<style>
    .data_point {
        stroke-width: 0px;
        shape-rendering: crispEdges;
    }

    .axis path, .axis line {
        fill: none;
        stroke: #000;
        stroke-width: 2.0px;
        shape-rendering: crispEdges;
    }

    .kde_line {
        shape-rendering: none;
        stroke-width: 1.5px;
        visibility: hidden;
    }

    .y.axis path, .y.axis line {
        stroke: #aaa;
    }

    .x.axis path, .x.axis line {
        stroke: none;
    }

    .axis_label, .ticks {
        font-size: 16px;
    }

    .data_totals {
        font-size: 20px;
        font-weight: 400;
        shape-rendering: crispEdges;
    }

    .data_labels {
        font-size: 18px;
        font-weight: bold;
    }

    .cv {
        width: 540px;
        height: 405px;
    }
</style>

<div class="container">
    <div class="tumor-type-selector-scatterplot btn-group" data-toggle="buttons-radio">
        <button class="btn btn-small active" data-toggle="button" data-id="all_tumor_types"
                style="border-bottom-width: 4px;">All</button>
        {{#each tumor_types}}
        <button class="btn btn-small" data-toggle="button" data-id="{{id}}"
                style="border-bottom-color: {{color}}; border-bottom-width: 4px;">{{id}}</button>
        {{/each}}
    </div>
    <hr/>
    <div class="row">
        <div class="span3 well">
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">x-axis: <span
                        class="selected-gene-x">{{first_gene}}</span><b class="caret"></b></a>
                <ul class="dropdown-menu genes-selector-x" role="menu">
                    {{#each genes}}
                    <li><a href="#" onclick="return false;" class="gene-selector-x">{{.}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <ul class="nav nav-list feature-selector-x pre-scrollable">Loading features...</ul>
            <hr/>
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">y-axis: <span
                        class="selected-gene-y">{{first_gene}}</span><b class="caret"></b></a>
                <ul class="dropdown-menu genes-selector-y" role="menu">
                    {{#each genes}}
                    <li><a href="#" onclick="return false;" class="gene-selector-y">{{.}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <ul class="nav nav-list feature-selector-y pre-scrollable">Loading features...</ul>
        </div>
        <div class="span8">
            <div class="scatterplot-container"></div>
            <div class="download-container"></div>
        </div>
    </div>
</div>