{{#each tumor_types}}
<a data-toggle="collapse" href="#collapser-{{.}}-{{../id}}">{{.}} <i class="icon-chevron-down"></i></a>
<div id="collapser-{{.}}-{{../id}}" class="collapse {{#unless @index}}in{{/unless}}">
    <div class="heatmap-{{.}}">
        <div class="stacksvis-heatmap"></div>
    </div>
</div>
{{/each}}
