<style>
    .stats-hm {
        min-width: 400px;
    }
</style>
<div class="pull-right">
    <a href="#" class="global-hider hider-target hide" onclick="return false;">Hide Sample Stats</a>
    <a href="#" class="global-hider hider-target" onclick="return false;">Show Sample Stats</a>
</div>
{{#each tumor_types}}
<a data-toggle="collapse" data-toggle="tooltips" class="tooltips" href="#collapser-{{id}}-{{../id}}" onclick="return false;" title="{{label}}">{{id}} <i class="icon-chevron-down"></i></a>
<!--<div id="collapser-{{id}}-{{../id}}" class="collapse {{#unless @index}}in{{/unless}}">-->
<div id="collapser-{{id}}-{{../id}}" class="collapse in">
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <td>Gene</td>
            <td>Q-value</td>
            <td class=""><a href="#" class="tooltips" data-toggle="tooltip" onclick="return false;" title="Number of Samples">Samples</a></td>
            <td class="hider-target hide"><a href="#" class="tooltips" data-toggle="tooltip" onclick="return false;" title="Number of Mutated Samples">Mutated</a></td>
            <td class="hider-target hide"><a href="#" class="tooltips" data-toggle="tooltip" onclick="return false;" title="Percent of Samples with Amplifications">Amplifications</a></td>
            <td class="hider-target hide"><a href="#" class="tooltips" data-toggle="tooltip" onclick="return false;" title="Percent of Samples with Gains">Gains</a></td>
            <td class="hider-target hide"><a href="#" class="tooltips" data-toggle="tooltip" onclick="return false;" title="Percent of Diploid Samples">Diploids</a></td>
            <td class="hider-target hide"><a href="#" class="tooltips" data-toggle="tooltip" onclick="return false;" title="Percent of Samples with Heterozygous Loss">Heterozygous<br/>Loss</a></td>
            <td class="hider-target hide"><a href="#" class="tooltips" data-toggle="tooltip" onclick="return false;" title="Percent of Samples with Homozygous Loss">Homozygous<br/>Loss</a></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {{#each ../genes}}
        <tr class="stats-{{../id}}-{{.}} hide">
            <td>{{.}}</td>
            <td class="q-values">&nbsp;</td>
            <td class="stats-samples"></td>
            <td class="hider-target hide stats-mutations"></td>
            <td class="hider-target hide stats-0"></td>
            <td class="hider-target hide stats-1"></td>
            <td class="hider-target hide stats-2"></td>
            <td class="hider-target hide stats-3"></td>
            <td class="hider-target hide stats-4"></td>
            <td class="stats-hm"></td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{/each}}
