<div class="fmx_distributions_container">
    <div class="span3">
        <div class="row filter-elements">
            <div class="dropdown">
                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-filter"></i> Tumor Types <b class="caret"></b>
                </a>
                <ul class="dropdown-menu fmx-dist-tumor-types-selector" role="menu">
                    <li class="active"><a href="#" onclick="return false;" data-id="all_tumor_types">All</a></li>
                    <li class="divider"></li>
                    {{#each tumor_types}}
                    <li><a href="#" onclick="return false;" data-id="{{id}}">{{id}}</a></li>
                    {{/each}}
                </ul>
            </div>
        {{#if sample_types}}
            <br/>
            <div class="dropdown">
                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-filter"></i> Sample Types <b class="caret"></b>
                </a>
                <ul class="dropdown-menu fmx-dist-sample-types-selector" role="menu">
                    <li class="active"><a href="#" onclick="return false;" data-id="all_sample_types">All</a></li>
                    <li class="divider"></li>
                    {{#each sample_types}}
                    <li>
                        <a href="#" onclick="return false;" data-id="{{key}}">{{label}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
            <br/>
            <div class="dropdown">
                <a class="btn btn-small dropdown-toggle fmx-dist-color-by" data-toggle="dropdown" href="#">
                    <i class="icon-tint"></i> Color By <b class="caret"></b>
                </a>
                <ul class="dropdown-menu fmx-dist-color-by-selector" role="menu">
                    <li class="active"><a href="#" onclick="return false;" data-id="tumor_type">Tumor Type</a></li>
                    {{#if sample_types}}
                        <li><a href="#" onclick="return false;" data-id="sample_type">Sample Type</a></li>
                    {{/if}}
                    {{#if clinical_variables}}
                        <li class="nav-header">Clinical Variables</li>
                        {{#each clinical_variables}}
                        <li><a href="#" onclick="return false;" data-id="{{id}}">{{label}}</a></li>
                        {{/each}}
                    {{/if}}
                </ul>
            </div>
            <hr/>
            <div class="span3 gene-feature-selectors">
                <div class="dropdown">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="selected-gene-x">{{selected_genes.x}}</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu genes-selector-x" role="menu">
                        {{#each genes}}
                        <li><a href="#" onclick="return false;" data-id="{{.}}">{{.}}</a></li>
                        {{/each}}
                        {{#if clinical_variables}}
                            <li class="divider"></li>
                            <li><a href="#" onclick="return false;" data-id="clinical-variables">Clinical Variables</a></li>
                        {{/if}}
                    </ul>
                </div>
                <div class="feature-selector-x">Loading features...</div>
                <div class="dropdown">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="selected-gene-y">{{selected_genes.y}}</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu genes-selector-y" role="menu">
                        {{#each genes}}
                        <li><a href="#" onclick="return false;" data-id="{{.}}">{{.}}</a></li>
                        {{/each}}
                        {{#if clinical_variables}}
                            <li class="divider"></li>
                            <li><a href="#" onclick="return false;" data-id="clinical-variables">Clinical Variables</a></li>
                        {{/if}}
                    </ul>
                </div>
                <div class="feature-selector-y">Loading features...</div>
            </div>
        </div>
    </div>
    <div class="span9 vis-container">
        <div class="alert alert-warning no-data-found hide">
            <strong>Warning!</strong> No data found for selected features
        </div>
        <div class="row">
            <div class="span8 fmx-dist-container"></div>
            <div class="span1 fmx-dist-legend">
                <ul class="nav nav-list legend-items"></ul>
            </div>
        </div>
        <div class="download-container well"></div>
    </div>
</div>