<div class="fmx_distributions_container row">
    <div class="feature_selector_elements">
        <div class="dropdown">
            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-list"></i>
                <span class="selected-gene-x">{{selected_genes.x}}</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu genes-selector-x" role="menu">
                {{#each genes}}
                    <li><a href="#" onclick="return false;" data-id="{{.}}">{{.}}</a></li>
                {{/each}}
                {{#if clinical_variables}}
                    <li class="divider"></li>
                    <li><a href="#" onclick="return false;" data-id="clinical-variables">Clinical and Sample Variables</a></li>
                {{/if}}
            </ul>
        </div>
        <div class="feature-selector-x">Loading features...</div>
        <hr/>
        <div class="dropdown">
            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-list"></i>
                <span class="selected-gene-y">{{selected_genes.y}}</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu genes-selector-y" role="menu">
                {{#each genes}}
                    <li><a href="#" onclick="return false;" data-id="{{.}}">{{.}}</a></li>
                {{/each}}
                {{#if clinical_variables}}
                    <li class="divider"></li>
                    <li><a href="#" onclick="return false;" data-id="clinical-variables">Clinical and Sample Variables</a></li>
                {{/if}}
            </ul>
        </div>
        <div class="feature-selector-y">Loading features...</div>
    </div>
    <div class="visualization_element">
        <ul class="nav nav-tabs">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">
                    <i class="icon-filter"></i> Tumor Types <b class="caret"></b>
                </a>
                <ul class="dropdown-menu tumor_types_filter" role="menu">
                    <li class="active"><a href="#" onclick="return false;" data-id="all_tumor_types">All</a></li>
                    <li class="divider"></li>
                    {{#each tumor_types}}
                        <li><a href="#" onclick="return false;" data-id="{{.}}">{{.}}</a></li>
                    {{/each}}
                </ul>
            </li>
            {{#if sample_types}}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">
                        <i class="icon-filter"></i> Sample Types <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu sample_types_filter" role="menu">
                        <li class="active"><a href="#" onclick="return false;" data-id="all_sample_types">All</a></li>
                        <li class="divider"></li>
                        {{#each sample_types}}
                            <li>
                                <a href="#" onclick="return false;" data-id="{{key}}">{{label}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/if}}
            <li class="dropdown">
                <a href="#" onclick="return false;" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-tint"></i> Color By <b class="caret"></b>
                </a>
                <ul class="dropdown-menu color_by_selector pre-scrollable" role="menu">
                    <li class="active"><a href="#" onclick="return false;" data-id="tumor_type">Tumor Type</a></li>
                    {{#if sample_types}}
                        <li><a href="#" onclick="return false;" data-id="sample_type">Sample Type</a></li>
                    {{/if}}
                    {{#if clinical_variables}}
                        <li class="nav-header">Clinical and Sample Variables</li>
                        {{#each clinical_variables}}
                            <li><a href="#" onclick="return false;" data-id="{{id}}">{{label}}</a></li>
                        {{/each}}
                    {{/if}}
                </ul>
            </li>
            <li class="dropdown export-datasheets"></li>
        </ul>
        <div class="tab-content">
            <div class="alert alert-warning no-data-found hide">
                <strong>Warning!</strong> No data found for selected features
            </div>
            <div class="tab-pane active">
                <div id="{{id}}_vis" class="graph_element"></div>
            </div>
        </div>
    </div>
    <div class="legend_element">
        <ul class="nav nav-list legend_items"></ul>
    </div>
</div>