<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <th>Tumor Type</th>
        <th>MutSig Rank</th>
        <th>Samples (#/%)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each items}}
        <tr>
            <td>{{tumor_type_label}}</td>
            <td>{{mutsig_rank}}</td>
            <td>{{statistics.samples.numberOf}} / {{statistics.samples.totals.percentOf}}</td>
            <td id="seqpeek-row-{{tumor_type}}"></td>
        </tr>
    {{/each}}
    <tr>
        <td style="color: blue;">ALL</td>
        <td></td>
        <td>{{statistics.samples.numberOf}} / {{statistics.samples.totals.percentOf}}</td>
        <td id="seqpeek-all-row"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td id="seqpeek-tick-element"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td id="seqpeek-protein-domain-element"></td>
    </tr>
    </tbody>
</table>