<div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><h4><span class="selected-gene">{{selected_gene}}</span> <b class="caret"></b></h4></a>
    <ul class="dropdown-menu seqpeek-gene-selector">
        {{#each genes}}
            <li><a href="#" onclick="return false;" data-id="{{.}}" title="{{.}}">{{.}}</a></li>
        {{/each}}
    </ul>
</div>
<ul class="nav nav-tabs">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">
            <i class="icon-filter"></i>Group By<b class="caret"></b>
        </a>
        <ul class="dropdown-menu group_by_selector" role="menu">
            {{#each group_by_categories}}
                <li><a href="#" onclick="return false;" data-id="{{.}}">{{.}}</a></li>
            {{/each}}
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" onclick="return false;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-tint"></i> Color By <b class="caret"></b>
        </a>
        <ul class="dropdown-menu color_by_selector" role="menu">
            {{#each color_by_categories}}
                <li><a href="#" onclick="return false;" data-id="{{.}}">{{.}}</a></li>
            {{/each}}
        </ul>
    </li>
    <li class="dropdown sample-list-dialog">
        <a href="#" onclick="return false;" class="sample-list-dropdown">
            <!-- sample_list_dropdown_caption.hbs -->
        </a>

        <div class="dropdown-menu span5">
            <div class="input-append">
                <input type="text" class="new-list-name" placeholder="New list name...">
                <button class="btn add-new-list" type="button" title="Add a list"><i class="icon-plus"></i></button>
            </div>
            <div class="sample-list-operations">

            </div>
        </div>
   </li>
    <li>
        <button class="btn btn-default seqpeek-zoom-enable">Zoom</button>
    </li>
    <li>
        <button class="btn btn-default seqpeek-selection-enable">Select</button>
    </li>
    <li>
        <button class="btn btn-default seqpeek-toggle-bars">Bars / Lollipops</button>
    </li>
    <li>
        <button class="btn btn-default seqpeek-toggle-genomic">Protein / Genomic</button>
    </li>
</ul>
<div class="mutations_map_table"></div>
