<ul class="nav nav-list">
    <li><strong>{{title}}</strong></li>
    <li><a href="#" onclick="return false;" class="open-workbook" data-id="{{id}}">Open Workbook</a></li>
    <li>File size: {{fileSize}}</li>
    <li class="nav-header">Last Modified</li>
    <li>{{modifiedDate}}</li>
    {{#if lastModifyingUser}}
        <li>{{lastModifyingUser.displayName}}</li>
        {{#if lastModifyingUser.picture}}
            <li><img src="{{lastModifyingUser.picture.url}}"/></li>
        {{/if}}
        <li><a href="#" onclick="return false;" class="append-body" data-id="{{id}}">Append Body</a></li>
    {{/if}}
</ul>