<ul class="nav nav-list">
    <li><h6>{{title}}</h6></li>
    <li>{{id}}</li>
    <li>{{fileSize}}</li>
    <li>{{modifiedDate}}</li>
    <li>{{lastModifyingUser.displayName}}</li>
    <li><img src="{{lastModifyingUser.picture.url}}"/></li>
    <li><a href="#" onclick="return false;" class="append-body" data-id="{{id}}">Append Body</a></li>
</ul>